nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
   padding-top: 10px;
    width: 100%;
    background-color: rgb(93, 93, 126);
    z-index: 1;
    h2{
        margin-left: 20px;
        color: white;
    }
    ul{
        display: flex;
        gap: 20px;
        list-style: none;
        color: white;
        align-items: center;
        margin-right: 20px;
        i{
            display: none;
        }
        .a{
            text-decoration: none;
            color: white;
            background-color:var(--primary-color);
            padding: 5px;
            border-radius: 20px;
        }
        .a:hover{
            background-color: white;
            color:var(--primary-color);
            opacity: 0.8;
            transition: all 1s ease;
        }
    }
}